.clients_content{
    font-size: 20px;
}
.clients_content a{

  color: #363636;
  background-color: #dedbdb;
  text-decoration: none;
  border: 1px solid #838282;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  margin-left: 20px;
}

.clients_content a:hover{
  background-color: #bab9b9;
}

.new_page_content{
  padding-right: 550px;
}